$bg-blue: #0c40cf;
$white: #FFF;
$black: #000;
$grey: #333;
$bg-blue-light: #e2eaff;
.header {
	padding:20px;
	background-color: $bg-blue;
	color: $white;	
	li {
		margin-top: 10px;
		a {
			color: $grey;
			font-size: 1.4rem;
			font-weight:bold;
			background-color: $white;
			padding: 6px 12px;
			border-radius: 4px;
			&:hover {
				text-decoration:none;

			}
		}
		
	}
	.white-text {
		color: $white;
		&:hover {
			color: $white;
			text-decoration:none;
		}
	}
}
h1.page-title {
	padding-left:20px;
	font-weight:bold;
	display:inline-block;
	// color: lighten($grey,7%);
}
table.full-page {
	th {
		white-space:nowrap;
	}
	th:first-child, td:first-child {
		padding-left:20px;
	}
	tr:hover {
		background-color: lighten($grey,78%);
	}
}
a.small-btn {
	text-transform:lowercase;
	background-color: lighten($grey,79%);
	border: 1px solid lighten($grey,75%);
	text-transform: lowercase;
	font-size: 1.7rem;
	padding: 4px 10px;
	border-radius: 20px;
	&:hover {
		border: 1px solid lighten($grey,72%);
		text-decoration:none;
	}
}
div.inline-secondary-btns {
	display:inline-block;
	vertical-align:middle;
	// border-left: 1px solid lighten($bg-blue,20%);
	padding-left: 10px;
	// margin-left:10px;
	padding-bottom:10px;
	button {
		background-color: lighten($bg-blue,12%);
		background-color: lighten($grey,32%);
		border:1px solid lighten($grey,29%);
		text-shadow: 0px 0px 3px $grey;

	}
	button:hover {
		background-color: lighten($bg-blue,0%);
		border:1px solid lighten($bg-blue,2%);
	}
	button:focus {
		background-color: lighten($grey,38%);
		border:1px solid lighten($grey,32%);
	}
	form {
		display:inline-block;
		margin-bottom:0px;
	}
}

.dashboard-block {
	background-color: lighten($grey,78%);
	border: 1px solid lighten($grey,74%);
	margin-top:20px;
	h2 {
		font-weight:bold;
		font-size: 1.8rem;
		padding-left: 10px;
		padding-right:10px;
	}
	table.dashboard-size {
		width: 100%;
		th {
			white-space:nowrap;
		}
		td {
			padding-right:10px;
		}
		td:last-child {
			padding-right: 0px;
		}
		th:first-child, td:first-child {
			padding-left:10px;
		}
		tr {
			background-color:$white;
		}
		tr:nth-child(even) {
			background-color: $bg-blue-light;
		}
		tr:hover {
			background-color: lighten($grey,78%);
		}
	}
}


.blue-btn {
		background-color: lighten($grey,32%);
		border:1px solid lighten($grey,29%);
		text-shadow: 0px 0px 3px $grey;
		color: $white;
	&:hover {
		background-color: lighten($bg-blue,0%);
		border:1px solid lighten($bg-blue,2%);
		color: $white;

	}
	&:focus {
		background-color: lighten($grey,38%);
		border:1px solid lighten($grey,32%);
		color: $white;

	}
}
.confirm-btn {
	@extend .blue-btn;
	background-color: lighten($bg-blue,0%);
	border:1px solid lighten($bg-blue,2%);


}
.divider {
	border-top: 1px solid #ddd;
	width:100%;

}
.border-top {
	border-top: 1px solid #ddd;
}
.px-20 {
	padding-left:20px;
	padding-right:20px;
}
.py-20 {
	padding-top:20px;
}
.px-0 {
	padding-left:0px;
	padding-right:0px;
}
.margin-top-neg-10 {
	margin-top:-10px;
}
.alert-error {
	color: #ffffff;
    background-color: #ff1f1f;
    border-color: #e10000;
    border-radius: 0px;
    font-weight: bold;
    padding: 15px;
}
.alert-success {
	color: #ffffff;
    background-color: #009f0c;
    border-color: #e10000;
    border-radius: 0px;
    font-weight: bold;
    padding: 15px;
}

#alert-wrapper {
	display: table;
	width: 100%;
}
#alert-left {
	margin-bottom: 0px;
	display: table-cell;
	width: 75%;
	vertical-align: top;
}
#alert-right {
	display: table-cell;
	width: 50%;
	vertical-align: top;
	text-align: right;
}
.ghost-btn {
	background-color: #efefef;
	color: #009f0c;
	// color: white;
	// border: 2px solid white;
	padding: 5px 8px;
	border-radius: 4px;
	text-align: right;
	&:hover {
		color: darken(#009f0c,20%);
		cursor:pointer;
		text-decoration:none;
	}
}

.flashes {
	margin-bottom: 0px;
}
.container-fluid {
	padding-left: 20px;
	padding-right:20px;
}

.ui-datepicker{
        margin-top: 210px;
    }
// #ui-datepicker-div[inputId="start_date"] {
.ui-datepicker-modal-field {
	margin-top:161px;
}
