.header {
  padding: 20px;
  background-color: #0c40cf;
  color: #FFF; }
  .header li {
    margin-top: 10px; }
    .header li a {
      color: #333;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: #FFF;
      padding: 6px 12px;
      border-radius: 4px; }
      .header li a:hover {
        text-decoration: none; }
  .header .white-text {
    color: #FFF; }
    .header .white-text:hover {
      color: #FFF;
      text-decoration: none; }

h1.page-title {
  padding-left: 20px;
  font-weight: bold;
  display: inline-block; }

table.full-page th {
  white-space: nowrap; }
table.full-page th:first-child, table.full-page td:first-child {
  padding-left: 20px; }
table.full-page tr:hover {
  background-color: #fafafa; }

a.small-btn {
  text-transform: lowercase;
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  text-transform: lowercase;
  font-size: 1.7rem;
  padding: 4px 10px;
  border-radius: 20px;
  white-space: nowrap; }
  a.small-btn:hover {
    border: 1px solid #ebebeb;
    text-decoration: none; }

div.inline-secondary-btns {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 10px; }
  div.inline-secondary-btns button {
    background-color: #265cf2;
    background-color: #858585;
    border: 1px solid #7d7d7d;
    text-shadow: 0px 0px 3px #333; }
  div.inline-secondary-btns button:hover {
    background-color: #0c40cf;
    border: 1px solid #0d43d9; }
  div.inline-secondary-btns button:focus {
    background-color: #949494;
    border: 1px solid #858585; }
  div.inline-secondary-btns form {
    display: inline-block;
    margin-bottom: 0px; }

.dashboard-block {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  margin-top: 20px; }
  .dashboard-block h2 {
    font-weight: bold;
    font-size: 1.8rem;
    padding-left: 10px;
    padding-right: 10px; }
  .dashboard-block table.dashboard-size {
    width: 100%; }
    .dashboard-block table.dashboard-size th {
      white-space: nowrap; }
    .dashboard-block table.dashboard-size td {
      padding-right: 10px; }
    .dashboard-block table.dashboard-size td:last-child {
      padding-right: 0px; }
    .dashboard-block table.dashboard-size th:first-child, .dashboard-block table.dashboard-size td:first-child {
      padding-left: 10px; }
    .dashboard-block table.dashboard-size tr {
      background-color: #FFF; }
    .dashboard-block table.dashboard-size tr:nth-child(even) {
      background-color: #e2eaff; }
    .dashboard-block table.dashboard-size tr:hover {
      background-color: #fafafa; }

.blue-btn, .confirm-btn {
  background-color: #858585;
  border: 1px solid #7d7d7d;
  text-shadow: 0px 0px 3px #333;
  color: #FFF; }
  .blue-btn:hover, .confirm-btn:hover {
    background-color: #0c40cf;
    border: 1px solid #0d43d9;
    color: #FFF; }
  .blue-btn:focus, .confirm-btn:focus {
    background-color: #949494;
    border: 1px solid #858585;
    color: #FFF; }

.confirm-btn {
  background-color: #0c40cf;
  border: 1px solid #0d43d9; }

.divider {
  border-top: 1px solid #ddd;
  width: 100%; }

.border-top {
  border-top: 1px solid #ddd; }

.px-20 {
  padding-left: 20px;
  padding-right: 20px; }

.py-20 {
  padding-top: 20px; }

.px-0 {
  padding-left: 0px;
  padding-right: 0px; }

.margin-top-neg-10 {
  margin-top: -10px; }

.alert-error {
  color: #ffffff;
  background-color: #ff1f1f;
  border-color: #e10000;
  border-radius: 0px;
  font-weight: bold;
  padding: 15px; }

.alert-success {
  color: #ffffff;
  background-color: #009f0c;
  border-color: #e10000;
  border-radius: 0px;
  font-weight: bold;
  padding: 15px; }

#alert-wrapper {
  display: table;
  width: 100%; }

#alert-left {
  margin-bottom: 0px;
  display: table-cell;
  width: 75%;
  vertical-align: top; }

#alert-right {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  text-align: right; }

.ghost-btn {
  background-color: #efefef;
  color: #009f0c;
  padding: 5px 8px;
  border-radius: 4px;
  text-align: right; }
  .ghost-btn:hover {
    color: #003904;
    cursor: pointer;
    text-decoration: none; }

.flashes {
  margin-bottom: 0px; }

.container-fluid {
  padding-left: 20px;
  padding-right: 20px; }

.ui-datepicker {
  margin-top: 210px; }

.ui-datepicker-modal-field {
  margin-top: 161px; }

.recurring-last-profile-row td {
  border-top: 0px solid grey !important; }

/*# sourceMappingURL=custom.css.map */
