{% extends "base.html" %}

{% set page_title = "Portal Generator" %}

{% block content %}
<style>
input {
  line-height:2;
  width:100%;
}
button[type="submit"] {
  width:auto;
  padding:10px;
/*   text-transform:uppercase; */
/*   box-shadow:0px 0px 40px white; */
  font-size:1.7em;
  font-weight:bold;
}
p {
  font-size:1.5em;
  color:#DDD;
}
.desc {
  font-size: 1.3em;
}
</style>
<h1 class="page-title">Portal Generator</h1>
<div class="divider"></div>
  <form action="{{ url_for('generator') }}" method="POST">
<div class="container">
    <div class="col-12 col-6">
        <div class="form-group">
          <label for="name">Name:</label>  
          <input type="text" name="name"><br>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>  
          <input type="text" name="email"><br><br>
        <hr>
        </div>
        <div class="form-group">
          <label for="name">Service:</label>  
          <select name="subscription">
          <option value="">- Select -</option>
          {% for plan in plans %}
            <option value="{{ plan["id"] }}">{{ plan["name"] }}</option>
          {% endfor %}
          </select>
        </div>
        <h4 style="color:#BBB">OR</h4>
        <div class="form-group">
        <label for="description">Description:</label>  
        <input style="width:auto" type="text" name="description">
        <label for="amount">Amount:</label>  
        <input style="width:auto" type="text" name="amount"><br>
        <br>
        <button type="submit">Generate</button>
    </div>
</div>
  </form>
{% endblock %}