{% extends "base.html" %}

{% set page_title = "Recurring" %}

{% block content %}
<h1 class="page-title">Recurring</h1>
<div class="inline-secondary-btns margin-top-neg-10">
	<button class="btn btn-primary" data-toggle="modal" data-target="#newRecurringProfile">New</button>
</div>
{% include "modals/modal_recurring.html" %}
<table class="table full-page">
	<tr>
		<th>Client</th>
		<th>Paymo ID</th>
		<th>Service</th>
		<th>Notes</th>
		<th class="text-right">Start</th>
		<th class="text-right">Amount</th>
		<th class="text-right">Period</th>
		<th class="text-right">Stripe Amount</th>
		<th class="">Current</th>
	</tr>
	{% for r in recurring %}
	<tr>
		<td>{{ r.client_name }}</td>
		<td>{{ r.paymo_client_id }}</td>
		<td>{{ r.service_name }}</td>
		<td>{{ r.notes }}</td>
		<td>{{ r.start_date.strftime('%m/%d/%Y') if r.start_date else '' }}</td>
		<td class="text-right">
		{% with dollars = r.amount|string %}
            <p class="desc">${{ dollars[:-2] | add_commas }}<sup>.{{ dollars[-2:] }}</sup>
		{% endwith%}
		</td>
		<td class="text-right">
			{{ r.period_type }}
		</td>
		<td class="text-right">
		{% with dollars = r.stripe_amount|string %}
            <p class="desc">${{ dollars[:-2] | add_commas }}<sup>.{{ dollars[-2:] }}</sup>
		{% endwith%}
		</td>
		<td>{{ "Yes" if r.current else "Due" }}</td>
		<td>
			<a class="small-btn" href="{#url_for('download_roice', filename=r.generated_filename) #}">
				Download invoice
			</a>
		</td>
		<td>
			<form action="{#url_for('toggle_paid', r_id=r.id) #}" method="POST">
				<input type="submit" value="Mark Current">
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}