{% extends "index.html" %}


{% block content %}
<h1>Unbilled Hours: {{client_name}}</h1>

<table class="table">
	<tr>
		<th>Client ID</th>
		<th>Entry ID</th>
		<th>Billed?</th>
		<th>Start</th>
		<th>Stop</th>
		<th><span class="pull-right">Delta (Minutes)<span></th>
	</tr>
	{% for t in not_billed %}
	<tr>
		<td>{{t.client_id }}</td>
		<td>{{t.id }}</td>
		<td>{{t.billed }}</td>
		<td>{{ t.start_time }}</td>
		<td>{{ t.end_time   }}</td>
		<td ><span class="pull-right">{{ t.duration }}</span></td>

	</tr>
	{% endfor %}
</table>
<div class="container">
<p>total hours: {{total}}</p>
<form class="main" method="GET" action="">
	<input type="text" name="date1" value="{{ date1 }}">
	<input type="text" name="date2" value="{{ date2 }}">
	<button class="btn btn-primary" type="submit" value="query">GET</button>
</form>
<form method="POST" action="{{ url_for('mark_billed', client_id=client_id )}}">
	<input class="hidden" type="hidden" name="date1" value="{{ date1 }}">
	<input class="hidden" type="hidden" name="date2" value="{{ date2 }}">
	<button class="btn btn-primary pull-right" type="submit" name="mark_billed" value="MARK">Mark Billed</button>
</form>
</div>
{% endblock %}

{% block js_script %}
<script>
	$(document).ready(function() {
		$('button[name="mark_billed"]').click(function() {
			$("input.hidden").find('input[name="date1"]').first().val($("form.main").find('input[name="date1"]').first().val());
			$("input.hidden").find('input[name="date2"]').first().val($("form.main").find('input[name="date2"]').first().val());

		});
	});
</script>
{% endblock %}